*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

:root {
  --color-black: #151515;
  --color-purple: #854dff;
  --color-white: #fff;
  --color-lg-grey: #f0f0f0;
  --color-grey: #716f6f;
  --color-line: #dcdcdc;
  --color-red: #ff5959;
}

/* poppins-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/poppins-v21-latin-regular.woff2") format("woff2");
}
/* poppins-italic - latin */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: italic;
  font-weight: 400;
  src: url("../assets/fonts/poppins-v21-latin-italic.woff2") format("woff2");
}
/* poppins-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/poppins-v21-latin-700.woff2") format("woff2");
}
/* poppins-700italic - latin */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: italic;
  font-weight: 700;
  src: url("../assets/fonts/poppins-v21-latin-700italic.woff2") format("woff2");
}
/* poppins-800 - latin */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  src: url("../assets/fonts/poppins-v21-latin-800.woff2") format("woff2");
}
/* poppins-800italic - latin */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: italic;
  font-weight: 800;
  src: url("../assets/fonts/poppins-v21-latin-800italic.woff2") format("woff2");
}

body {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  background-color: var(--color-lg-grey);
}

img,
label {
  display: block;
}
